# NOMMA Offline Root CA OpenSSL configuration

[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = {{ root_ca_base_dir }}
certs             = $dir/certs
crl_dir           = $dir/crl
new_certs_dir     = $dir/newcerts
database          = {{ root_ca_db_dir }}/index.txt
serial            = {{ root_ca_db_dir }}/serial
private_key       = {{ root_ca_key_path }}
certificate       = {{ root_ca_cert_path }}
default_md        = {{ root_ca_digest }}
default_days      = {{ issuing_ca_days }}
policy            = policy_strict
email_in_dn       = no
copy_extensions   = copy
unique_subject    = no

[ policy_strict ]
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied

[ req ]
default_bits        = {{ root_ca_key_bits }}
distinguished_name  = req_distinguished_name
string_mask         = utf8only
default_md          = {{ root_ca_digest }}
prompt              = no

[ req_distinguished_name ]
C  = {{ pki_country }}
ST = {{ pki_state }}
L  = {{ pki_locality }}
O  = {{ pki_org_name }}
OU = {{ pki_org_unit }}
CN = {{ root_ca_common_name }}

[ v3_root_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:1
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ v3_intermediate_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
