#
# {{ ansible_managed }}
# NOMMA Client Certificate Profile
# For user and machine authentication certificates.

[ req ]
default_bits            = 2048
default_md              = sha384
prompt                  = no
encrypt_key             = yes
distinguished_name      = req_distinguished_name
req_extensions          = req_ext

[ req_distinguished_name ]
countryName             = {{ pki_country }}
stateOrProvinceName     = {{ pki_state }}
localityName            = {{ pki_locality }}
organizationName        = {{ pki_organization }}
organizationalUnitName  = {{ pki_org_unit }}
# REPLACE with user/device identifier:
commonName              = user@nomma.tech

[ req_ext ]
# Client certs don't typically need SANs
basicConstraints        = critical, CA:FALSE